<%- include(origin + '/public/heading',{'title':'Settings'}); %>
<%- include(origin + '/public/contentnav',{'active':99,'settings':1}); %>
<div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="row g-0">
                <div class="col-3 d-none d-md-block border-end">
                  <div class="card-body">
                    <h4 class="subheader">Account settings</h4>
                    <div class="list-group list-group-transparent">
                      <a class="list-group-item list-group-item-action d-flex align-items-center active">My Account</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">My Notifications</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Gameplay</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Billing & Invoices</a>
                    </div>
                    <h4 class="subheader mt-4">Experience</h4>
                    <div class="list-group list-group-transparent">
                      <a href="#" class="list-group-item list-group-item-action">Give Feedback</a>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column">
                  <div class="card-body">
                    <h2 class="mb-4">My Account</h2>
                    <h3 class="card-title">Profile Details</h3>
                    <div class="row align-items-center">
                      <div class="col-auto"><span id="settingsavatarimage" class="avatar avatar-xl" style=""></span>
                      </div>
                      <div id="avatar-upload-btn" class="col-auto"><a href="#" class="btn">
                          Change avatar
                        </a></div>
                      <div class="col-auto"><a id="delbutton" href="javascript:delav()" class="btn btn-ghost-danger">
                          Delete avatar
                        </a></div>
                    </div>
                    <h3 class="card-title mt-4">Status</h3>
                    <p class="card-subtitle">A message displayed below your username on your profile page.</p>
                    <div class="row g-3">
                      <div class="col-md">
                       
                        <input id="sig" maxlength="80" style="width:40%;" type="text" class="form-control" value="Loading...">
                      </div>
                    </div>
                    <h3 class="card-title mt-4">Email</h3>
                    <p class="card-subtitle">Your email is kept private, but you may need it to login or to receive important information from us.</p>
                    <div>
                      <div class="row g-2">
                        <div class="col-auto">
                          <input id="emailinput" type="text" class="form-control w-auto" value="Loading...">
                        </div>
                        <div class="col-auto"><a href="javascript:emailbtn();" class="btn">
                            Change
                          </a></div>
                        <div class="col-auto"><a id="newverification" hidden="hidden" href="#" class="btn">
                            Send Verification
                          </a></div>
                      </div>
                    </div>
                    <h3 class="card-title mt-4">Password</h3>
                    <p class="card-subtitle">You can always change your password, but you'll need to know your old one first. If you forgot it, email us at <a href="mailto:official@birded.tech">official@birded.tech</a>.</p>
                    <div>
                      <a href="/login/reset" class="btn">
                        Set new password
                      </a>
                    </div>
                    <h3 class="card-title mt-4">Public profile</h3>
                    <p class="card-subtitle">Making your profile public means that anyone on Birded can see your stats and account.</p>
                    <div>
                      <label class="form-check form-switch form-switch-lg">
                        <input id="settings_public" class="form-check-input" type="checkbox" >
                        <span class="form-check-label form-check-label-on">You're currently visible</span>
                        <span class="form-check-label form-check-label-off">You're currently invisible</span>
                      </label>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent mt-auto">
                    <div class="btn-list justify-content-end">
                      <a href="javascript:location.reload();" class="btn">
                        Cancel
                      </a>
                      <a href="javascript:postaccountedits()" class="btn btn-primary">
                        Save Changes
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include(origin + '/public/footer'); %>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New report</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" name="example-text-input" placeholder="Your report name">
            </div>
            <label class="form-label">Report type</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input type="radio" name="report-type" value="1" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Report a Player</span>
                      <span class="d-block text-muted">Is someone breaking the rules? Being offensive?</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-6">
                <label class="form-selectgroup-item">
                  <input type="radio" name="report-type" value="1" class="form-selectgroup-input">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Suggest a Change</span>
                      <span class="d-block text-muted">Found a bug? Have a cool idea? Want to suggest a change?</span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="mb-3">
                  <label class="form-label">Report url</label>
                  <div class="input-group input-group-flat">
                    <span class="input-group-text">
                      https://bird.ed/reports/
                    </span>
                    <input type="text" class="form-control ps-0" style="color:black;" value="REPORT_NAME" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-3">
                  <label class="form-label">Visibility</label>
                  <select class="form-select">
                    <option value="1" selected>Private</option>
                    <option value="2">Public</option>
                    <option value="3">Hidden</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Your name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Report Date/Occurence</label>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="col-lg-12">
                <div>
                  <label class="form-label">Additional information</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              Create new report
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <script src="/game/dist/libs/apexcharts/dist/apexcharts.min66d9.js?1674944800" defer></script>
    <script src="/game/dist/libs/jsvectormap/dist/js/jsvectormap.min66d9.js?1674944800" defer></script>
    <script src="/game/dist/libs/jsvectormap/dist/maps/world66d9.js?1674944800" defer></script>
    <script src="/game/dist/libs/jsvectormap/dist/maps/world-merc66d9.js?1674944800" defer></script>
    <!-- Tabler Core -->
    <script src="/game/dist/js/tabler.min66d9.js?1674944800" defer></script>
    <script src="/game/dist/js/demo.min66d9.js?1674944800" defer></script>

    <script src="/notification.js"></script>
    <script src="/profanity-filter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.3/pako.min.js"></script>
<script>

function rbw(istr) {const bw = bannedList; for (let i = 0; i < bw.length; i++) {const regex = new RegExp(bw[i], "gi");istr = istr.replace(regex, "*".repeat(bw[i].length));};return istr;}
  
  var loadPlayer
  var tp_avatar

    function changeData(id, key, val) {
  socket.emit("changeData", { id, key, val });
}
  
function setCookie(name, value, days) {
  var expires = "";
  if (days) {
    var date = new Date();
    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "") + expires + "; path=/";
}

function getCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}

function eraseCookie(name) {
  document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}
// ------------------------------------------ //
const canvas = document.createElement('canvas');

const sigObject = document.getElementById("sig");
const emailObject = document.getElementById("emailinput");
const x = getCookie('session_id');
const y = getCookie('access_id');
var grant = 1

alertify.set({ delay: 1700 });

const codes = "14708605"

function chk() {
  if (codes.split(",").indexOf(y) !== -1) {
    
      grant = 1;
    
  }
}

  chk()

function logoutF() {
  eraseCookie('session_id')
  eraseCookie('access_id')
  window.location.href = "/login"
}

function openProfile() {
  window.location.href = "/game/profile/" + loadPlayer.account.playername
}

function delav() {
  tp_avatar = "none"
  document.getElementById("settingsavatarimage").style.backgroundImage = "url('/game/static/avatars/avatar.png')"
  document.getElementById("delbutton").style.pointerEvents="none";
  document.getElementById("delbutton").style.cursor="default";
  document.getElementById("delbutton").style.color = "gray";
  alertify.success("Save your changes to apply.")
}

function validateEmail(mail) {
  if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(mail)) {
    return (true)
  } else {
    return (false)
  }
}

socket.on('changeEmailResult', (uid,approved) => {
  if (approved == 0) {
    alertify.error("This email is attatched to another account.")
  } else if (approved == 1) {
  window.location.href = `/login/verify?k=${uid}`;
  }
});
  
  function emailbtn() {
    if (emailObject.value != loadPlayer.account.email) {
      if (validateEmail(emailObject.value)) {
      socket.emit("changeEmail", x, emailObject.value);
      } else {
        alertify.error("Invalid email.")
      }
    } else {
      alertify.error("Email is the same.")
    }
  }

  
  function postaccountedits() {
    alertify.info("Saving...")

    changeData(x, "account.sig", sigObject.value)

    if (document.getElementById("settings_public").checked == true) {
      changeData(x, "account.settings.public", 1)
    } else {
      changeData(x, "account.settings.public", 0)
    }
    
    
    if (tp_avatar) {

    //endres = pako.deflate(tp_avatar);
      
    socket.emit("postAvatar", x, encodeURIComponent(tp_avatar))
    } else {
      setTimeout(rld, 600);
    }
    //location.reload();
  }

  socket.on('postAvatarResult', (allowed) => {
  location.reload();
});

  function rld() {
    location.reload();
  }

const avatarUploadBtn = document.getElementById('avatar-upload-btn');
avatarUploadBtn.addEventListener('click', () => {
  const fileInput = document.createElement('input'); // Create a new file input element
  fileInput.type = 'file';
  fileInput.accept = 'image/*'; // Set the accepted file types
  // Listen for file selection event
  fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0]; // Get the selected file
    const reader = new FileReader(); // Create a new FileReader
    reader.onload = (e) => {
      alertify.success("Save your changes to apply.")
      const fileData = e.target.result; // Get the file data

      const canvas = document.createElement('canvas');
  const ctx = canvas.getContext('2d');
  // create a new Image object and set its src to the data URL
  const img = new Image();
  img.src = fileData;
  // when the image is loaded, resize it with the specified quality
  img.onload = () => {
    canvas.width = img.width;
    canvas.height = img.height;
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
    var imgData=ctx.getImageData(0,0,canvas.width,canvas.height);
var data=imgData.data;
for(var i=0;i<data.length;i+=4){
    if(data[i+3]<255){
        data[i]=255;
        data[i+1]=255;
        data[i+2]=255;
        data[i+3]=255;
    }
}
ctx.putImageData(imgData,0,0);
    // create a new data URL with the reduced quality
    const dataURL = canvas.toDataURL('image/jpeg', 0.2);
    tp_avatar = dataURL
    document.getElementById('settingsavatarimage').style.backgroundImage = `url(${tp_avatar})`;
  } 
      

      
      
    };
    // Read the file contents
    reader.readAsDataURL(file);
  });
  // Click the file input element to open the file selection dialog
  fileInput.click();
});

socket.emit("verifyId", x);

socket.on('verifyIdResult', (allowed) => {
  if (allowed == 1) {
    socket.emit("grabStatics", x,"1");
  } else {
    eraseCookie(y)
    window.location.href = "/login";
  }
});

socket.on('websiteStatics', (main) => {
  document.getElementById("version").innerText = main[0]
});

 

socket.on('grabStaticsResult', (allowed,onl) => {
   const verifyalert = `

                <header class="navbar navbar-expand-md navbar-dark bg-red d-print-none">
                  <div class="container-xl">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbar-menu">
                      <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                        <ul class="navbar-nav">    
                          <li class="nav-item">
                            <a class="nav-link disabled" href="index.html#" >
                              <span class="nav-link-title">
                                <strong style="color:white;">Please verify your email address to lift account restrictions!</strong>
                              </span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/game/settings/account" >
                              <span class="nav-link-title">
                                Request new verification
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </header>
              
`
  if (onl == 0) {
    document.getElementById("loadingtext").innerText = allowed
    alertify.error(allowed,5000);
  }
  loadPlayer = allowed;

  if (loadPlayer.account.status == -1) {
    document.getElementById("loadingtext").innerText = "You are banned from Birded."
    alertify.error("You have been permanently banned from Birded.",20000);
    alertify.error("Please contact official@birded.tech if you have questions or concerns regarding your ban.",20500);
    loadPlayer = ""
  }

  if (loadPlayer.account.playername == "Blue") {
    sigObject.disabled = false; 
  }
  
  document.getElementById("playername_holder").innerText = loadPlayer.account.playername;
  if (loadPlayer.account.icon == "none") {
    document.getElementById("playerimage_holder").style.backgroundImage = "url('/game/static/avatars/avatar.png')"
    document.getElementById("settingsavatarimage").style.backgroundImage = "url('/game/static/avatars/avatar.png')"
  } else {
    document.getElementById("playerimage_holder").style.backgroundImage = "url('" + loadPlayer.account.icon + "')"

 document.getElementById("settingsavatarimage").style.backgroundImage = "url('" + loadPlayer.account.icon + "')"
  }

  sigObject.setAttribute("value", loadPlayer.account.sig);
  emailObject.setAttribute("value", loadPlayer.account.email);

  if (loadPlayer.account.settings.public == 1) {
    document.getElementById("settings_public").checked = true;
  } else {
    document.getElementById("settings_public").checked = false;
  }

   if (loadPlayer.account.verification.v == 0) {
    document.getElementById("alertbar").innerHTML = verifyalert
    document.getElementById("newverification").removeAttribute("hidden");
  }
  
  if (loadPlayer.account.op == 3) {
    document.getElementById("adminbutton").classList.remove("hiddenelem");
    document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:#EB3838;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">DEVELOPER</div>`;
  } else if (loadPlayer.account.op == 2) {
    document.getElementById("adminbutton").classList.remove("hiddenelem");
      document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:#E87676;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">ADMIN</div>`;
  } else if (loadPlayer.account.op == 1) {
    document.getElementById("adminbutton").classList.remove("hiddenelem");
    document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:#C98FDE;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">MOD</div>`;
  } else if (loadPlayer.game.rank == 3) {
    document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:#F2B236;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">CLAW</div>`;
  } else if (loadPlayer.game.rank == 2) {
    document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:#E5C53F;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">TALON</div>`;
  } else if (loadPlayer.game.rank == 1) {
    document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:#D1D567;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">FEATHER</div>`;
  } else if (loadPlayer.game.rank == 0) {
    document.getElementById("userblocki").innerHTML += `<div class="mt-1 small" style="background:gray;color:white;padding:1px;font-size:0.6em;border-radius:3px;text-align:center;">PLAYER</div>`
  }
  document.getElementById("overlayi").remove();
  var mcobj = document.getElementById("unblurobj")
  mcobj.classList.add("unblurtype");
});

  
 

</script>
  </body>
</html>